
  <navbar-nav></navbar-nav>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Bienvenido a la página de inicio</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">Esta es la página de inicio de la aplicación</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">Aquí podrás ver los productos que tenemos disponibles</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">También podrás agregar nuevos productos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">Y por supuesto, podrás editar y eliminar los productos que ya no necesites</p>
    </div>
  </div>
</div>
